In [11]:
# -*- coding: utf-8 -*-
%matplotlib inline

import pandas as pd
import numpy as np
import math
import matplotlib as mplstyle
import matplotlib.pyplot as plt
import locale
import arrow
from locale import atof
from dateutil import parser
from datetime import datetime

In [12]:
# Import test data
df_test = pd.read_csv('data/old_results.csv')

# Drop two extra columns
df_test = df_test.drop(['Unnamed: 6',' []'], axis=1)

In [13]:
# Keep only the rows with at least 2 non-na values
df_test_clean = df_test.dropna(thresh=2)
df_test.count()

Timestamp    3621
Rank 1       3557
Rank 2       3025
Rank 3       2815
Rank 4       2649
Rank 5       2501
dtype: int64

In [14]:
df_test_clean = df_test_clean.drop_duplicates(subset=["Rank 1","Rank 2", "Rank 3", "Rank 4", "Rank 5"], keep='last')