In [1]:
# -*- coding: utf-8 -*-
%matplotlib inline

import pandas as pd
import numpy as np
import math
import matplotlib as mplstyle
import matplotlib.pyplot as plt
import locale
import arrow
from locale import atof
from dateutil import parser
from datetime import datetime

In [39]:
# Import test data
df_test = pd.read_csv('data/old_results.csv')

# Drop two extra columns
df_test = df_test.drop(['Unnamed: 6',' []'], axis=1)

In [43]:
# Keep only the rows with at least 2 non-na values
df_test_clean = df_test.dropna(thresh=2)
df_test.head(5)

,Timestamp,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5
0,12/5/2016 7:31:50,"Beyonce, Lemonade","Car Seat Headrest, Teens Of Denial","Wilco, Schmilco","Radiohead, A Moon Shaped Pool","Bon Iver, 22, A Million"
1,12/5/2016 7:34:17,"Radiohead, A Moon Shaped Pool","Wilco, Schmilco","Bon Iver, 22, A Million","Beyonce, Lemonade","Car Seat Headrest, Teens Of Denial"
2,12/5/2016 7:53:03,"Solange, A Seat At The Table","Bon Iver, 22, A Million",NaN,NaN,NaN
3,12/5/2016 7:54:56,"Ry X, Dawn","Greg Laswell, Everyone Thinks I Dodged A Bullet","Weezer, White Album","Radiohead, A Moon Shaped Pool","Wilco, Schmilco"
4,12/5/2016 12:32:36,"solange, seat at the table","bon iver, 22 a million","beyonce, lemonade","frank ocean, blonde","angel olsen, my woman"

In [54]:
# df_test

# remove duplicates within next ten rows 
for i in range(0,len(df_test_clean.index)):
    for j in range(i, i+10):
        df_test_clean = df_test_clean.drop_duplicates(subset=["Rank 1","Rank 2", "Rank 3", "Rank 4", "Rank 5"], keep='last')
        df_test_clean
        
#     print i
#     print(df_test_clean.at[i,"Rank 2"])

#     # check if every column in a row has the some album, then remove 
#     if df_test_clean.at[i,"Rank 1"] == df_test_clean.at[i,"Rank 2"] == df_test_clean.at[i,"Rank 3"] == df_test_clean.at[i,"Rank 4"] == df_test_clean.at[i,"Rank 5"]:
#         print df_test_clean.at[i,"Rank 2"]
#         print 'dupe'
#         df_test_clean.replace(df_test_clean.at[i,"Rank 2"],np.nan) 
#         print albums.at[i,"Rank 2"]